/* Footer */

footer {
    @extend %section-padding;
    @include linear-gradient($primary, $primary-light);
    text-align: center;
    padding: 60px 0;
    p {
        padding-bottom: 16px;
    }
    .blockquote {
        p {
            color: $color-text;
        }
        .blockquote-footer {
            color: darken($color-text, 10%);
        }
    }
}