@import "icons.variables";
@font-face {
  font-family: 'icocustom';
  src: url('#{$icomoon-font-path}/icocustom.eot?mqfl98');
  src: url('#{$icomoon-font-path}/icocustom.eot?mqfl98#iefix') format('embedded-opentype'),
  url('#{$icomoon-font-path}/icocustom.ttf?mqfl98') format('truetype'),
  url('#{$icomoon-font-path}/icocustom.woff?mqfl98') format('woff'),
  url('#{$icomoon-font-path}/icocustom.svg?mqfl98#icocustom') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="fa-custom"],
[class*=" fa-custom"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icocustom' !important; // font-style: normal;
  // font-weight: normal;
  // font-variant: normal;
  // text-transform: none;
  // line-height: 1;
  /* Better Font Rendering =========== */
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}

@function unicode($str) {
  @return unquote("\"")+$str+unquote("\"");
}

.fa-custom-web {
  &:before {
    content: unicode($fa-custom-web);
  }
}

.fa-custom-mobile {
  &:before {
    content: unicode($fa-custom-mobile);
  }
}

.fa-custom-uiux {
  &:before {
    content: unicode($fa-custom-uiux);
  }
}

.fa-custom-iot {
  &:before {
    content: unicode($fa-custom-iot);
  }
}

.fa-custom-big-data {
  &:before {
    content: unicode($fa-custom-big-data);
  }
}