/* Service */

.service {
    @extend %section-generic;
    .service-thumb {
        @include border-radius(5px);
        @include transition(all ease-in-out 0.4s);
        height: 100%;
        background: $color-service-background-thumb;
        padding: 42px 22px;
        cursor: crosshair;
        position: relative;
        top: 0;
        &:hover {
            background: $color-service-background-hover;
            top: -5px;
            .fa,
            h4 {
                color: $color-heading;
            }
        }
        h4 {
            padding-bottom: 5px;
        }
        .fa {
            color: $color-service-icons;
            font-size: 92px;
            text-align: center;
            margin-top: 32px;
        }
        @media (max-width: 980px) {
            margin-top: 12px;
        }
    }
    .t {
        margin-top: 5px;
    }
}