/* Contact */

.contact {
    .contact-info {
        .fa {
            padding-right: 5px;
        }
        @media (max-width: 980px) {
            margin-top: 22px;
        }
        @media (max-width: 580px) {
            margin-top: 42px;
        }
    }
    .form-control {
        @include border-radius(0px);
        @include transition(all ease-in-out 0.4s);
        border: none;
        border-bottom: 2px solid $color-contact-form-border;
        box-shadow: none;
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 10px;
        &:focus {
            border-bottom-color: $color-contact-form-border-hover;
        }
    }
    input {
        height: 55px;
    }
    button {
        &[type="submit"] {
            @include border-radius(50px);
            background: $color-contact-btn-background;
            border: none;
            color: $color-contact-btn-text;
            height: 50px;
            margin-top: 24px;
            &:hover {
                background: $color-contact-btn-background-hover;
                color: $color-contact-btn-text-hover;
                cursor: pointer;
            }
        }
    }
}