/* Box sizing */

@mixin box-sizing($type) {
    -webkit-box-sizing: $type;
    -moz-box-sizing: $type;
    box-sizing: $type;
}

/* Transition */

@mixin transition($time) {
    -webkit-transition: $time;
    -moz-transition: $time;
    transition: $time;
}

/* Animations */

@mixin animations($animation) {
    -webkit-animation: $animation;
    -moz-animation: $animation;
    -o-animation: $animation;
    animation: $animation;
}

/* Align Items */

@mixin align-items($pos) {
    -webkit-align-items: $pos;
    -moz-align-items: $pos;
    align-items: $pos;
}

/* Border Radius */

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

/* Linear gradient */

@mixin linear-gradient($c1, $c2) {
    background: $c1;
    background: -moz-linear-gradient(top, $c1 0%, $c2 100%);
    background: -webkit-linear-gradient(top, $c1 0%, $c2 100%);
    background: linear-gradient(to bottom, $c1 0%, $c2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$c1', endColorstr='$c2', GradientType=0);
}